
#card_menu {
    @include flexBox(column);
    @include flexAlign(center, center);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/images/ScratchCard_BG.jpg") no-repeat top;
    background-size: cover;

    .lobby_balance {
        @include coinTextInput;
    }

    .bottom_row {
        @include flexBox(row);
        @include flexAlign(center, flex-end);
        width: 100%;
        position: absolute;
        right: 0;
        bottom: -10vh;

        .count_item {
            @include flexBox(row);
            @include flexAlign(center, flex-end);
            width: 34vh;
            height: 7vh;
            margin-right: 1vh;
            box-sizing: border-box;
            padding: 0 2vh 0 14vh;

            &.amount {
                background: url("/images/lobby_selected.svg") center no-repeat;
                background-size: 100%;
            }

            &.price {
                background: url("/images/lobby_total.svg") center no-repeat;
                background-size: 100%;
            }

            span {
                font-size: 3vh;
                color: #FFFF00;
            }
        }

        .confirm_btn {
            height: 9vh;
        }
    }

    .menu_container {
        position: relative;
        font-family: "Arial", "Apple LiGothic";
        @include flexBox(column);
        @include flexAlign(center, center);
        width: 100%;
        height: 100%;

        .menu_body {
            @include flexBox(column);
            @include flexAlign(center, center);
            width: 132vh;
            height: 49.5vh;
            position: relative;
            background: url("/images/lobby_menu_bg.png") center no-repeat;
            background-size: 100%;
            // background: linear-gradient(#3D2F2F,#201A1A);
            // border-radius: 10px;
            // width: 80%;

            // &:before {
            //     content: '';
            //     position: absolute;
            //     width: 101%;
            //     height: 101%;
            //     z-index: -1;
            //     background: url("/images/bg_border.jpg") center no-repeat;
            //     background-size: 100%;
            // }

            span {
                color: #fff;
                font-size: 3vh;
                line-height: 3.5vh;
            }

            .tab_bar {
                @include flexBox(row);
                @include flexAlign(flex-end, center);
                width: 103%;
                height: 13%;
                position: absolute;
                top: -8%;
                left: -1.5%;
                background: url("/images/lobby_tabbar.png") center no-repeat;
                background-size: 100%;

                .tab_arrow {
                    height: 95%;
                    margin: 0 1vh;
                }

                .tabs {
                    @include flexBox(row);
                    @include flexAlign(center, center);
                    width: 8.5%;
                    height: 100%;
                    background: url("/images/lobby_tab.png") bottom no-repeat;
                    background-size: 100%;
                    position: relative;

                    p {
                        color: #fff;
                        font-size: 3vh;
                    }

                    &.active {
                        background: url("/images/lobby_tab_active.png") bottom no-repeat;
                        background-size: 100%;
                    }

                    .label {
                        @include flexBox(row);
                        @include flexAlign(center, center);
                        position: absolute;
                        top: -35%;
                        right: -16%;
                        background: red;
                        width: 5vh;
                        height: 5vh;
                        border-radius: 50%;
                        border: 1px solid #fff;
                        font-size: 2vh;
                        z-index: 99;
                        font-family: "BebasNeue";
                    }
                }
            }

            .check_row {
                @include flexBox(row);
                @include flexAlign(center, flex-end);
                width: 100%;
                height: 7vh;
                margin-top: 3vh;

                .check_all {
                    @include flexBox(row);
                    height: 100%;

                    .btn_all {
                        background: url("/images/lobby_uncheck.png") center no-repeat;
                        background-size: 100%;
                        width: 6vh;
                        margin-right: 1vh;
                    }

                    &.checked .btn_all {
                        background: url("/images/lobby_check.png") center no-repeat;
                        background-size: 100%;
                    }

                    span {
                        @include flexBox(row);
                        @include flexAlign(center, center);
                        margin-right: 1vh;
                    }
                }



            }

            .card_row {
                @include flexBox(row);
                @include flexAlign(center, space-evenly);
                flex-wrap: wrap;
                flex: 1;
                width: 100%;
                margin-top: 1vh;

                .card_obj {
                    @include flexBox(column);
                    @include flexAlign(center, center);
                    width: 18%;
                    // height: 13vh;
                    position: relative;
                    margin-bottom: 1vh;


                    &.sold {
                        &:before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            z-index: 99;
                            background: url("/images/lobby_sold.svg") top no-repeat;
                            background-size: 90%;
                        }

                        .card {
                            filter: brightness(0.6);
                        }

                    }

                    .card {
                        width: 100%;
                    }

                    .check_box {
                        background: url("/images/lobby_check.png") bottom no-repeat;
                        background-size: 100%;
                        width: 6vh;
                        height: 6vh;
                        position: absolute;
                        top: 1%;
                        right: 1%;
                        display: none;

                        &.checked {
                            display: block;
                        }
                    }
                }
            }

            .swiper-container {
                height: 100%;
                width: 100%;
              }
              
              .swiper-slide {
                height: 100%;
                width: 100%;
              }
        }

        .slide_counter {
            @include flexBox(row);
            @include flexAlign(center, center);
            width: 100%;
            height: 13%;

            ul {
                width: 100%;

                li {
                    display: inline-block;
                    height: 1vh;
                    width: 1vh;
                    border: solid 1px rgba(255, 255, 255, .5);
                    border-radius: 50%;
                    margin: 0 1%;

                    &.on {
                        background: #fff;
                    }
                }
            }


        }

        .menu_pager {
            @include flexBox(row);
            @include flexAlign(center, flex-end);
            background: url("/images/lobby_pager.png") center no-repeat;
            background-size: 100%;
            width: 10vh;
            height: 11vh;
            position: absolute;
            z-index: -1;
            bottom: 2vh;

            img{
                height: 68%;
                margin: 0 18%;
            }

            &.back {
                left: -10vh;
                transform: rotate(180deg);
            }

            &.next {
                right: -10vh;
            }
        }

        // .swiper-button-prev {
        //     background-image: none;
        //     left: -5vh;
        //     bottom: 2vh;
        // }
        // .swiper-button-next {
        //     background-image: none;
        //     right: -5vh;
        //     bottom: 2vh;
        // }
        .swiper-button-prev {
            background-image: none;
            margin: 0;
            top: 38vh;
            left: -10vh;
            // top:0;
            // left: 0;
            // width: 100%;
            // height: 100%;
            width: 10vh;
            height: 11vh;
            z-index: 999;
        }
        .swiper-button-next {
            background-image: none;
            margin: 0;
            top: 38vh;
            right: -10vh;
            // top:0;
            // left: 0;
            // width: 100%;
            // height: 100%;
            width: 10vh;
            height: 11vh;
            z-index: 999;
        }
        .swiper-pagination-bullets {
            bottom: 3vh;
        }
        .swiper-pagination-bullet {
            width: 1vh;
            height: 1vh;
            min-width: 5px;
            min-height: 5px;
            display: inline-block;
            border-radius: 50%;
            background: #fff;
            opacity: 0.3;

            &.swiper-pagination-bullet-active {
               opacity: 0.8; 
            }
        }
    }

    // @include aspect_43 {
    //     .menu_container {
    //         .menu_body {
    //             width: 106vh;
    //             height: 43vh;

    //             .tab_bar {
    //                 // width: 113vh;
    //                 // height: 5vh;

    //                 .tabs .label {
    //                     top: -23%;
    //                     right: -11%;
    //                     width: 3vh;
    //                     height: 3vh;
    //                     font-size: 14px;
    //                 }
    //             }

    //             .card_row .card_obj .card_number {
    //                 font-size: 2vh;
    //             }

    //             .slide_counter {
    //                 height: 14%;
    //             }
    //         }
    //         .menu_pager {
    //             height: 8vh;

    //             &.back {
    //                 left: -7vh;
    //             }

    //             &.next {
    //                 right: -7vh;
    //             }
    //         }

    //     }

    // }

    // @include aspect_iPadPro {
    //     .menu_container {
    //         .menu_body {
    //             width: 106vh;
    //             height: 43vh;

    //             .tab_bar {
    //                 // width: 113vh;
    //                 // height: 5vh;

    //                 .tabs .label {
    //                     top: -23%;
    //                     right: -11%;
    //                     width: 3vh;
    //                     height: 3vh;
    //                     font-size: 14px;
    //                 }
    //             }

    //             .card_row .card_obj .card_number {
    //                 font-size: 2vh;
    //             }

    //             .slide_counter {
    //                 height: 14%;
    //             }
    //         }
    //         .menu_pager {
    //             height: 8vh;

    //             &.back {
    //                 left: -7vh;
    //             }

    //             &.next {
    //                 right: -7vh;
    //             }
    //         }

    //     }

    // }

    @include aspect_alliPad {
        .menu_container {
            .menu_body {
                width: 106vh;
                height: 43vh;

                .tab_bar {
                    // width: 113vh;
                    // height: 5vh;

                    .tabs .label {
                        top: -23%;
                        right: -11%;
                        width: 3vh;
                        height: 3vh;
                        font-size: 14px;
                    }
                }

                .card_row .card_obj .card_number {
                    font-size: 2vh;
                }

                .slide_counter {
                    height: 14%;
                }
            }
            .menu_pager {
                height: 8vh;
                width: 10vh;

                &.back {
                    left: -7vh;
                }

                &.next {
                    right: -7vh;
                }
            }

            .swiper-button-prev, .swiper-button-next {
                height: 8vh;
                width: 10vh;
                top: 33vh;
            }

        }

    }

    @include iPhoneX {
        .menu_container {
            transform: translateY(2vh);
            .menu_body {
                width: 152vh;
                height: 58vh;

                .tab_bar .tabs .label {
                    font-size: 9px;
                }

                .check_row {
                    margin-top: 4vh; 
                }

                .menu_pager {
                    height: 11vh;
                    width: 14vh;
    
                    &.back {
                        left: -9vh;
                    }
    
                    &.next {
                        right: -9vh;
                    }
                }

                .swiper-button-prev, .swiper-button-next {
                    top: 45vh;
                }

            }

        }

    }

}