/* input default text size for disabled iOS auto Zoom in */

input,
input[type="text"],
input[type="password"],
select:focus,
select {
    font-size: 16px !important;
}

/* Disabled Select */

.unselect{
    user-select: none;
}

/* font settings */

$bebasNeue: "BebasNeue";
$bebasNeue: "Ayuthaya";

@mixin fontStyle($fontFamily, $fontSize, $color) {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $color;
}

$fontSize_default: 1em;
$fontSize_normal: 0.9em;
$fontSize_small: 0.8em;
$fontSize_mini: 0.65em;

@mixin closeBtnFakeEl {
    content: "";
    position: absolute;
    width: 18px;
    height: 1px;
    background: #fff;
}

/* iPhone X Safe Area fixing */

/* iOS 11 up */

@mixin safeArea {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
}

/* iOS lower than 11 */

@mixin safeAreaOld {
    padding-top: constant(safe-area-inset-top);
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-bottom: constant(safe-area-inset-bottom);
}

/* mixing obj */

@mixin bgColor($bgColor) {
    background-color: $bgColor;
}

@mixin fontSize($fontSize) {
    font-size: $fontSize;
}

@mixin radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
}

@mixin boxSizing {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/* easing function */

@mixin easeInOutExpo($time) {
    transition: all $time cubic-bezier(1, 0, 0, 1);
    -webkit-transition: all $time cubic-bezier(1, 0, 0, 1);
    -moz-transition: all $time cubic-bezier(1, 0, 0, 1);
    -o-transition: all $time cubic-bezier(1, 0, 0, 1);
}

@mixin easeInOutQuint($time) {
    transition: all $time cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: all $time cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all $time cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all $time cubic-bezier(0.86, 0, 0.07, 1);
}

@mixin easeInOutBack($time) {
    transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@mixin easeOutBack($time){
    transition: all $time cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -webkit-transition: all $time cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    -moz-transition: all $time cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    -o-transition: all $time cubic-bezier(0.175, 0.885, 0.320, 1.275); 
}

/* Transform */

@mixin transRotate($deg) {
    transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -ms-transform: rotate($deg);
}

/* filter */

@mixin blur($blur) {
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
}

/* FlexBox */

@for $i from 1 through 24 {
    .flex#{$i} {
        flex: $i;
    }
}

@mixin flexBox($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flexAlign($alignItems, $justifyContent) {
    align-items: $alignItems;
    justify-content: $justifyContent;
}

/* position offset */

@mixin offSet($top, $right, $bottom, $left) {
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

/* grid system */

@mixin grid_wrapper($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin grid($flex, $direction) {
    flex: $flex;
    flex-direction: $direction;
}

/* position center */

@mixin alignCenter($position, $zIndex){
    position: $position;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: $zIndex;
}

/* size */

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

/* media query */

@mixin portrait {
    @media all and (orientation: portrait) {
        @content;
    }
}

@mixin landscape {
    @media all and (orientation: landscape) {
        @content;
    }
}

/*
xs: <= 575px
sm: 576px ~ 767px
md: >= 768px
lg: >= 992px
xl: >= 1200px
*/

$aspect43: "all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (device-aspect-ratio: 4/3)";
$aspect_iPadPro: "all and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 1366/1024)";
$aspect_alliPad: "all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2), all and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)";
$aspect169: "all and (min-aspect-ratio: 16/9)";
$aspect1610: "all and (min-aspect-ratio: 16/10)";
$iphoneXseries: "all and (min-device-width: 375px) and (max-device-width: 812px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 3),all and (min-device-width: 414px) and (max-device-width: 896px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 3)";

@mixin aspect_43 {
    @media #{$aspect43} {
        @content;
    }
}

@mixin aspect_iPadPro {
    @media #{$aspect_iPadPro} {
        @content;
    }
}

@mixin aspect_alliPad {
    @media #{$aspect_alliPad} {
        @content;
    }
}

@mixin aspect_169 {
    @media #{$aspect169} {
        @content;
    }
}

@mixin aspect_1610 {
    @media #{$aspect1610} {
        @content;
    }
}

@mixin xl {
    @media all and (min-width: 1200px) {
        @content;
    }
}

@mixin lg {
    @media all and (max-width: 992px) {
        @content;
    }
}

@mixin md {
    @media all and (max-width: 768px) {
        @content;
    }
}

@mixin xs {
    @media all and (max-width: 576px) {
        @content;
    }
}

@mixin iPhoneX {
    @media #{$iphoneXseries} {
        @content;
    }
}

@mixin landScape_lg{
    @media all and (min-height: 600px) and (orientation:landscape){
        @content;
    }
}