#lobby {
    @include flexBox(row);
    @include flexAlign(center, center);
    @include boxSizing;
    padding: 12vh  10%;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/images/ScratchCard_BG.jpg") no-repeat top;
    background-size: cover;
    @extend .unselect;
    .lobby_balance {
        @include coinTextInput;
    }

    .slide_counter {
        @include flexBox(row);
        @include flexAlign(center, center);
        width: 100%;
        height: 13%;
        position: fixed;
        bottom: 5vh;

        ul {
            width: 100%;

            li {
                display: inline-block;
                height: 3vh;
                width: 3vh;
                max-width: 8px;
                max-height: 8px;
                border: solid 2px rgba(255, 255, 255, .5);
                border-radius: 50%;
                margin: 0 1%;

                &.on {
                    background: #fff;
                }
            }
        }
    }

    .menu_pager {
        @include flexBox(row);
        @include flexAlign(center, center);
        background: url("/images/lobby_pager.png") center no-repeat;
        background-size: 100%;
        width: 10vh;
        height: 14vh;
        min-width: 8%;
        position: fixed;
        bottom: 10vh;

        img{
            height: 60%;
            margin: 0 10%;
            transform: rotate(180deg);
        }

        &.back {
            left: 0;
            
        }

        &.next {
            right: 0;
            transform: rotate(180deg);
        }
    }

    .swiper-container {
        height: 100%;
        width: 100%;
      }
      
      .swiper-slide {
        @include flexBox(row);
        @include flexAlign(center, center);
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
      }
      .swiper-button-prev {
        background-image: none;
        margin: 0;
        top: 78vh;
        left: 0;
        width: 10vh;
        min-width: 8%;
        height: 11vh;
        z-index: 999;
    }
    .swiper-button-next {
        background-image: none;
        margin: 0;
        top: 78vh;
        right: 0;
        width: 10vh;
        min-width: 8%;
        height: 11vh;
        z-index: 999;
    }
    .swiper-pagination-bullets {
        bottom: 0;
    }
    .swiper-pagination-bullet {
        width: 1vh;
        height: 1vh;
        min-width: 10px;
        min-height: 10px;
        display: inline-block;
        border-radius: 50%;
        background: #fff;
        opacity: 0.3;

        &.swiper-pagination-bullet-active {
           opacity: 0.8; 
        }
    }

    .lobby_grid {
        @include flexBox(row);
        @include flexAlign(center, center);
        width: 50%;
        height: 50%;
    }

    .lobby_obj {
        @include flexBox(row);
        @include flexAlign(center, center);
        background: url("/images/lobby_obj_body.png") center no-repeat;
        background-size: 100%;
        width: 55vh;
        max-width: 88%;
        height: 34vh;
        position: relative;

        .card {
            height: 70%;
        }

        .fake {
            height: 50%;
        }

        .head {
            @include flexBox(row);
            @include flexAlign(center, space-between);
            background: url("/images/lobby_obj_head.png") top no-repeat;
            background-size: 100%;
            width: 110%;
            height: 17%;
            position: absolute;
            top: -6%;
            left: -5%;
            padding: 0 5%;
            box-sizing: border-box;

            .head_title {
                width: 33%;
                @include flexBox(row);

                &.game_name {
                    @include flexAlign(center, flex-start);
                    color: #0D237F;
                    font-size: 3vh;
                }

                &.win_prize {
                    @include flexAlign(center, flex-end);
                    color: #000;
                    font-size: 2vh;

                    span {
                        color: #fff;
                    }
                }
            }

            .price {
                @include flexBox(row);
                @include flexAlign(center, center);
                background: url("/images/lobby_obj_price.png") top no-repeat;
                background-size: 100%;
                width: 33%;
                height: 100%;

                span {
                    color: #fff;
                    font-size: 3vh
                }
            }
        }
    }
}