#game_result {
    @include flexBox(column);
    @include flexAlign(center, center);
    @include boxSizing;
    padding-top: 8%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/images/ScratchCard_BG.jpg") no-repeat top;
    background-size: cover;

    .result_container {
        @include flexBox(row);
        @include flexAlign(center, center);
        width: 75%;
        height: 48vh;

        .column {
            @include flexBox(column);
            @include flexAlign(flex-end, center);
            @include boxSizing;
            padding: 0.4rem;
            height: 100%;
            flex: 1;

            &:last-child {
                align-items: flex-start;

                .result_obj {
                    animation: slide-right 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

                }
            }

            .result_obj {
                @include flexBox(row);
                @include flexAlign(center, center);
                margin-top: 0.3rem;
                background: url("/images/result_obj.png") center no-repeat;
                background-size: 100%;
                width: 56vh;
                height: 8vh;
                position: relative;
                animation: slide-left 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

                &:first-child {
                    animation-delay: 0.5s;
                }
        
                &:nth-child(2) {
                    animation-delay: 0.6s;
                }
        
                &:nth-child(3) {
                    animation-delay: 0.7s;
                }
        
                &:nth-child(4) {
                    animation-delay: 0.8s;
                }

                &:nth-child(5) {
                    animation-delay: 0.9s;
                }

                @keyframes slide-left {
                    0% {
                        transform: translateX(-50vw);
                    }
                
                    100% {
                        transform: translateX(0);
                    }
                }
                @keyframes slide-right {
                    0% {
                        transform: translateX(50vw);
                    }
                
                    100% {
                        transform: translateX(0);
                    }
                }

                &.zero {

                    .grid.amount {
                        color: #35517D;
                    }

                    .grid.btn_more {
                        width: 9vh;

                        img,
                        &:after {
                            display: none;
                        }

                    }

                }

                .prize_label {
                    @include flexBox(row);
                    @include flexAlign(center, center);
                    height: 8vh;
                    width: 12vh;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -4vh;

                    img {
                        height: 100%;
                    }
                }

                .grid {
                    @include flexBox(row);
                    @include flexAlign(center, flex-end);
                    height: 100%;

                    &.price {
                        flex: 4;

                        img {
                            height: 65%;
                        }
                    }

                    &.amount {
                        @include flexBox(row);
                        @include flexAlign(center, center);
                        flex: 1;
                        font-family: 'Arial Black';
                        color: #fff;
                        font-size: 3.5vh;

                    }

                    &.btn_more {
                        height: 70%;
                        margin-right: 2.5vh;
                        position: relative;

                        img {
                            height: 100%;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            top: -2vh;
                            right: -2vh;
                            width: 4vh;
                            height: 4vh;
                            background: url("/images/result_sparkle.png") center no-repeat;
                            background-size: 100%;
                            animation: sparkle 1s ease both infinite;
                            transform-origin: 50% 50%;

                        }

                        @keyframes sparkle {
                            0% {
                                transform: rotate(0);

                            }

                            20% {
                                transform: rotate(0);

                            }

                            40% {
                                transform: rotate(20deg);

                            }

                            60% {
                                transform: rotate(0);
                            }

                            80% {
                                transform: rotate(20deg);
                            }

                            100% {
                                transform: rotate(0);
                            }
                        }
                    }
                }
            }
        }
    }

    .total_container {
        @include flexBox(row);
        @include flexAlign(flex-start, center);
        width: 100%;
        height: 23vh;

        .total {
            @include flexBox(row);
            @include flexAlign(center, space-between);
            background: url("/images/result_total.png") center no-repeat;
            background-size: 100%;
            width: 88vh;
            height: 16vh;
            padding: 0 8vh;
            box-sizing: border-box;
            animation: bounce-in-top 1s both;
            animation-delay: 1s;

            .head {
                @include flexBox(column);
                @include flexAlign(center, center);
                height: 100%;
                // width: 15vh;
                font-family: 'Apple LiGothic', 'Lihei', Arial;

                p {
                    font-size: 3vh;
                    color: #fff;
                }

                span {
                    font-size: 3vh;
                    color: #969696;
                }

            }

            .number {
                color: #FCEE21;
                font-size: 8vh;
                font-family: "BebasNeueBold";
                font-style: italic;
                margin-top: 1.5vh;
            }
        }
    }

    .back_to_lobby {
        position: fixed;
        bottom: 6vh;
        left: 50%;
        margin-left: -6vw;
        animation: bounce-in-top 1s both;
        animation-delay: 1.8s;

        &:active {
            filter: brightness(0.8);
        }
        
        img {
            width: 12vw;
        }
    }

    .user_panel {
        @include flexBox(column);
        @include flexAlign(flex-end,
        center);
        @include boxSizing;
        padding-right: 1%;
        width: 46vh;
        height: 20vh;
        background: url("/images/user_panel.png") bottom no-repeat;
        background-size: 100%;
        position: fixed;
        bottom: 0;
        right: 0;

        .user_id {
            color: #fff;
            font-size: 4vh;
            width: 100%;
            text-align: end;
            margin: 1%;
        }

        .user_balance {
            @include flexBox(row);
            @include flexAlign(center,
            flex-end);
            @include boxSizing;
            padding-right: 5%;
            width: 34vh;
            height: 6vh;
            background: url("/images/balance_bg.svg") center right no-repeat;
            background-size: 100%;

            font-family: 'Ayuthaya', Arial, sans-serif;
            color: #FFDC0B;
            font-size: 3vh;
        }
    }

    .effect {
        @include flexBox(row);
        @include flexAlign(center, center);
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;


        &.win {
            background: url("/images/effect_win.png") center no-repeat;
            background-size: 100%;

            img {
                height: 70vh;
                max-height: 90%;
                animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }

        }

        &.lose {
            background: url("/images/effect_lose.png") center no-repeat;
            background-size: 100%;

            img {
                width: 25%;
                animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }

        @keyframes scale-in-ver-center {
            0% {
                transform: scaleY(0);
                opacity: 1;
            }

            100% {
                transform: scaleY(1);
                opacity: 1;
            }
        }

        @keyframes scale-in-center {
            0% {
                transform: scale(0);
                opacity: 1;
            }

            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .card_zone {
        @include flexBox(row);
        @include flexAlign(center, center);
        @include boxSizing;

        width: 100%;
        height: 100%;
        padding: 2% 0;

        img{
            width: inherit;
        }

        .card_bg {
            @include flexBox(column);
            @include flexAlign(flex-end, center);

            width: 105vh;
            max-width: 98%;
            height: 100%;

            // background: url("/images/card_bg.jpg") center no-repeat;
            // background-size: 100%;
            position: relative;

            .card_bg_img {
                position: absolute;
                width: 100%;
                height: 56vh;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: -1;
            }

            .card_content {
                @include flexBox(column);
                @include flexAlign(flex-start, center);

                @include boxSizing;

                padding-left: 1%;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

                &.multiple:before {
                    content: '';
                    position: absolute;
                    right: -4%;
                    width: 100%;
                    height: 100%;
                    z-index: -2;
                    background: url("/images/multiple_card.png") center no-repeat;
                    background-size: 100%;
                }

                .price_row {
                    @include flexBox(row);
                    @include flexAlign(center, flex-start);

                    height: 6vh;
                    width: 100%;

                    img {
                        width: 10vh;

                        &.price_text {
                            width: 10vh;
                            height: 4.5vh;
                            margin-left: 1vh;
                        }
                    }
                }

                .card_title {
                    width: 43%;
                }

                .odd_row {
                    @include flexBox(row);
                    @include flexAlign(center, center);

                    width: 50vh;
                    height: 5vh;

                    img {
                        width: 13vh;

                        &.percent {
                            width: 10vh;
                            height: 5vh;
                        }
                    }
                }

                .rule {
                    width: 26%;
                    margin-bottom: 2%;
                }

                .card_code {
                    @include flexBox(row);
                    @include flexAlign(center, center);

                    position: absolute;
                    bottom: -1%;
                    right: 1%;
                    width: 24%;
                    height: 9%;
                    background: url("/images/code_bg.png") top no-repeat;
                    background-size: 100%;

                    span {
                        @include flexBox(row);
                        @include flexAlign(center, center);

                        font-size: 4vh;
                        font-family: "BebasNeueBold";
                    }
                }
            }

            .prize_title {
                @include flexBox(row);
                @include flexAlign(center, center);

                width: 40vh;
                height: 9vh;
                background: url("/images/jackpot_bg.png") center no-repeat;
                background-size: contain;
                margin-top: -46vh;
                margin-right: 9%; // position: absolute;

                // right: 11%;
                // top: 9%;

                img {
                    width: 12vh;
                    margin-left: 15%;
                }
            }

            .emoji_obj {
                @include flexBox(column);
                @include flexAlign(center, center);

                img {
                    height: 10vh;
                }

                span {
                    font-size: 2vh;
                    font-family: "BebasNeueBold";
                }
            }

            .main_scratch {
                @include flexBox(row);
                @include flexAlign(center, center);

                width: 50%;
                height: 38vh;
                background: url("/images/scratch_bg.png") center no-repeat;
                background-size: 100% 100%;
                position: absolute;
                right: 5%;
                top: 54%;
                transform: translateY(-50%);

                &.scratch_hint {
                    background: url("/images/scratch_hint_bg.png") center no-repeat;
                    background-size: 100%;
                    z-index: 2;

                    img {
                        height: 20%;
                        transform: rotate(-30deg);
                        animation: scratch 0.6s linear infinite both;
                    }

                    @keyframes scratch {
                        0%,
                        100% {
                            transform: translateX(-5vh) translateY(3vh) rotate(-40deg);
                            transform-origin: 50% 50%;
                        }

                        30% {
                            transform: translateX(-3vh) translateY(2vh) rotate(-30deg);
                        }

                        45% {
                            transform: translateX(3vh) translateY(-2vh) rotate(-20deg);
                        }

                        75% {
                            transform: translateX(-3vh) translateY(2vh) rotate(-30deg);
                        }
                    }
                }

                .emoji_column {
                    @include flexBox(column);
                    @include flexAlign(center, center);

                    width: 25%;
                    height: 100%;

                    .emoji_box {
                        @include flexBox(column);
                        @include flexAlign(center, center);

                        width: 100%;
                        height: 40%;
                        min-height: 60px;

                        &.pos_1 {
                            @include flexAlign(center, center);
                        }

                        &.pos_2 {
                            @include flexAlign(flex-start, center);
                        }

                        &.pos_3 {
                            @include flexAlign(center, flex-start);
                        }

                        &.pos_4 {
                            @include flexAlign(flex-end, center);
                        }

                        &.pos_5 {
                            @include flexAlign(center, flex-end);
                        }

                        &.pos_6 {
                            @include flexAlign(flex-end, flex-end);
                        }

                        &.pos_7 {
                            @include flexAlign(flex-start, flex-end);
                        }

                        &.pos_8 {
                            @include flexAlign(flex-end, flex-start);
                        }

                        &.pos_9 {
                            @include flexAlign(flex-start, flex-start);
                        }
                    }
                }
            }

            .lucky_scratch {
                @include flexBox(column);
                @include flexAlign(center, center);

                width: 16vh;
                max-width: 14%;
                height: 18vh;
                position: absolute;
                right: 57%;
                top: 49%;
                margin-top: 5%;

                .lucky_img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    z-index: -1;
                }
            }
        }
    }
}