$BtnList: "settlement", "change_table", "records", "quit", "help", "config";

.right_panel{
    @extend .unselect;
    @include boxSizing;
    position: fixed;
    top: 28px;
    right: 0;
    z-index: 5;
    padding-left: 2vh;
    width: 14vh;
    height: 64vh;
    background: url("/images/common/right_panel_bg.svg") no-repeat center right;
    background-size: contain;

    ul{
        @include flexBox(column);
        @include flexAlign(center, center);
        @include boxSizing;

        height: 100%;
        padding: 2vh 0;

        li{
            position: relative;
            width: 7vh;
            height: 7vh;
            padding-bottom: 2vh;
            cursor: pointer;
            @each $currentBtn in $BtnList{
                $i: index($BtnList, $currentBtn);
                &.#{$currentBtn} {
                    background: url("/images/common/right_panel_#{$currentBtn}.svg") no-repeat center;
                    background-size: contain;
                }
            }
            &.disabled{
                opacity: 0.3;
            }
            &:last-child{
                margin-bottom: 0;
                &:after{
                    display: none;
                }
            }
            &:after{
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                width: 6vh;
                height: 1px;
                background: linear-gradient(to right, #313131, #dcdcdc, #313131,);
            }
        }
    }
    
}

.right_panel.lobby{
    height: 62vh;
 li{
    width: 8vh;
    height: 8vh;
 }   
}
