<template>
<div>
    
    <div class="menu_container">

        <div class="menu_body">
            <div class="menu_pager back">
                <!-- <div class="swiper-button-prev" slot="button-prev"></div>                     -->
                <img src="/images/lobby_pager_arrow.png" alt="" >
            </div>
            <div class="menu_pager next">
                <!-- <div class="swiper-button-next" slot="button-next"></div>                      -->
                <img src="/images/lobby_pager_arrow.png" alt="" >
            </div>
            <div class="tab_bar">
                <img class="tab_arrow" src="/images/lobby_tab_left.png" alt="" @click="bookPrev()">

                <div v-for="book in bookShow()" class="tabs" @click="changeCardsBook(book.bookserial)" v-bind:class="[ book.bookserial==nowBook_id? 'active' : '']">
                    <p >{{book.bookserial}}</p>
                    <span class="label" v-show="showBuyGroupCount(book.bookserial)>0">{{ showBuyGroupCount(book.bookserial) }}</span>
                </div>
                <img class="tab_arrow" src="/images/lobby_tab_right.png" alt="" @click="bookNext()">
            </div>

            <div class="check_row">
                <!-- 全選按鈕，在btn_all加上.checked是全選狀態 -->
                <div class="check_all" v-bind:class="[ checkAllStatus[nowBook_id] ? 'checked' : '']" @click="checkAll()">
                    <div class="btn_all"></div>
                    <span>{{ nowBook_id  }}</span><span>全選</span>
                </div>
            </div>
            <swiper ref="awesomeSwiperA" :options="swiperOptionA" @set-translate="onSetTranslate">
                <!-- 第1頁 -->
                <swiper-slide v-for="n in (cards.length/10)">
                    <div class="card_row" >
                        <div class="card_obj" v-bind:class="[ sellCardObj.status!=0 ? 'sold' : '']" v-for="sellCardObj in cards.slice((n-1)*10,n*10)" v-model="cards">
                            <img v-if="!checkSelectedCards(sellCardObj.sn)" src="/images/lobby_card.jpg" alt="" class="card"  v-on:click="addItem(sellCardObj)">
                            <img v-else src="/images/lobby_card.jpg" alt="" class="card" v-on:click="removeItem(sellCardObj)">
                            
                            <div v-bind:class="[ checkSelectedCards(sellCardObj.sn)? 'check_box checked' : ''] "></div>
                            <span class="card_number">{{sellCardObj.sn}}</span>
                        </div>
                    </div>
                </swiper-slide>

                <!-- 頁數點點 -->
                <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
            <!-- swipe換頁觸控區 -->
            <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div>

            <div class="bottom_row">
                <div class="count_item amount"><span>{{ showBuyCount() }}</span></div>
                <div class="count_item price"><span>{{ showBuyCount() * oneCardAmount }}</span></div>
                <img src="/images/lobby_confirm.png" alt="" class="confirm_btn" @click="setPopup('purchase')">
            </div>

        </div>
    </div>

    <!--購買確認彈窗-->
    <div class="popup_wrapper" v-if="popupShow=='purchase'">
        <div class="popup_mask" @click="popupShow=''"></div>
        <div class="popup scratch_game buy_check">
            <div class="popup_head">
                <span class="popup_title">購買</span>
            </div>
            <div class="purchase_text">
                您要購買<span class="number"> {{ showBuyCount() }} </span>張刮刮卡
            </div>
            <div class="popup_btn_wrapper">
                <div class="popup_btn cancel" @click="popupShow=''"></div>
                <div class="popup_btn check" @click="setPopup('complete')"></div>
            </div>
        </div>
    </div>

    <!--錯誤視窗-->
    <div class="popup_wrapper" v-if="popupShow=='error'">
        <div class="popup_mask" @click="popupShow=''"></div>
        <div class="popup scratch_game buy_check">
            <div class="popup_head">
                <span class="popup_title">訊息</span>
            </div>
            <div class="purchase_text">
                <span class="number"> {{ errMsg }} </span>
            </div>
            <div class="popup_btn_wrapper">
                <div class="popup_btn check" @click="popupShow=''"></div>
            </div>
        </div>
    </div>

    <!--購買結果彈窗-->
    <div class="popup_wrapper" v-if="popupShow=='finish'">
        <div class="popup_mask" @click="popupShow=''"></div>
        <div class="popup scratch_game buy_finish">
            <div class="popup_head">
                <span class="popup_title">完成</span>
            </div>
            <div class="purchase_text">
                成功購買<span class="number"> {{buyNum}} </span>張，扣款<span class="number"> {{buyAmount}} </span>
            </div>
            <div class="purchase_text failed" v-show="errMsg!=''">
                      <p>
                        <span>購買失敗：</span> {{errMsg}}
                      </p>
            </div>
            <div class="popup_btn_wrapper">
                <div class="popup_btn check" @click="setPopup('playCard')"></div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
//import { mapState, mapMutations, mapActions, mapGetters } from "vuex";
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";

export default {
  components: {
    swiper,
    swiperSlide,
  },
  data() {
    return {
      popupShow: "",
      recordsTabAllowed: "today",
      currentGuidePage: 0,
      guidePages: 9,
      showSelect: false,
      swiperOptionA: {
        pagination: {
          el: ".swiper-pagination"
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      },
      errMsg:'',
      //**************/
      bookStartIndex:0,
      bookEndIndex:10,
      checkAllStatus:[],
      oneCardAmount:0,
      alreadyBuy:[],
      nowBook_id: 1,   //目前選擇的本
      action:'',
      cards:[],      //販售的卡片
      cardsBook:[], //販售的本
      buyNum:0,
      buyAmount:0,
      errMsg:''
    };
  },
  computed: { 
    /*
    ...mapState("game", ["shoppingCart"]),
    ...mapActions("game", ["addShoppingCartItem","removeShoppingCartItem"]),
    ...mapGetters("game", ["getShoppingCart"]),
    */
    swiperA() {
      return this.$refs.awesomeSwiperA.swiper;
    },
    pageClass() {
      return `page_0${this.current + 1}`;
    },
    len() {
      return this.guidePages;
    }
  },
  mounted(){
    let vm = this;
    let game_id = this.$route.query.id;
    vm.$cookies.set("game_id", game_id);

    this.$nextTick(function(){
        const axios = require('axios');
        //console.log(vm.$store.getters.getUserData);
        let access_token = vm.$cookies.get("access_token");
        axios.defaults.headers.common = {'Authorization': "Bearer " + access_token}
        
        vm.$store.commit('resetShoppingCart');
        vm.getBookList(game_id);

    });
  },
  methods: {
    /*
    ...mapState("game", ["shoppingCart"]),
    ...mapActions("game", ["addShoppingCartItem","removeShoppingCartItem"]),
    ...mapGetters("game", ["getShoppingCart"]),
    */
    onSetTranslate() {
      //console.log("onSetTranslate");
    },
    setPopup(handler) {
      switch(handler){
          case "playCard":
            this.$router.push({name:"GameView"});
            break;
          case "purchase":
            if(this.showBuyCount()==0){
                this.popupShow = "error";
                this.errMsg = "請選擇一張刮刮卡";
            }else if(this.showBuyCount()>100){
                this.popupShow = "error";
                this.errMsg = "已超過最大購買數量100張";
            }else{

                this.popupShow = handler;   
            }
            break;  
          case "complete":
            //this.popupShow = "";
            let vm = this;
            let url = this.$config.API_URL;
            var list=[];
            this.alreadyBuy.map(function(value, key) {
                list.push(value.id);
            });
            
            this.axios.post(url+'/v1/scratch/checkout', {ids: list})
            .then(function (response) {
                console.log("checkout");
                console.log(response.data);
                console.log("response.data.status");
                console.log(response.data.status);
                if(response.data.status){

                   vm.buyNum = response.data.data.buyFew;
                   vm.buyAmount = response.data.data.price;
                   vm.errMsg = response.data.data.noGetItem;
                   let balance = vm.$store.getters.getBalance;
                
                   console.log("現在有多少錢 : "+balance);
                   console.log("購買多少錢 : "+vm.showBuyCount() * vm.oneCardAmount);
                   balance = balance - vm.showBuyCount() * vm.oneCardAmount;
                   console.log("剩下多少錢 : "+balance);
                   vm.$store.commit('setBalance', balance);
                   vm.popupShow = "finish";
                   //vm.$router.push({name:"GameView"});
                }
            })
            .catch(function (error) {
                console.log(error);
            });
            this.popupShow = handler;
            break;
          default:
            this.popupShow = handler;
            break;
      }
    },
    recordsTabPressed(handler) {
      this.recordsTabAllowed = handler;
    },
    guideNext() {
      this.currentGuidePage = (this.currentGuidePage + 1) % this.len;
      console.log(this.currentGuidePage);
    },
    guidePrev() {
      this.currentGuidePage = (this.currentGuidePage - 1 + this.len) % this.len;
      console.log(this.currentGuidePage);
    },
    getBookList(class_id){
        let vm = this;
        //let url = "https://scratchcard-api-dev.techidea.cloud";
        
        let url = this.$config.API_URL;
        this.axios.get(url+'/v1/periods/list?class_id='+class_id)
        .then(function (response) {
          //console.log("RRRRRRR");
          //console.log(response.data);
          if(response.status){
              vm.cardsBook = response.data.data[0].book;
              vm.nowBook_id = response.data.data[0].book[0].bookserial;
              vm.oneCardAmount = response.data.data[0].price;
              vm.changeCardsBook(vm.nowBook_id);
           }else{
            console.log("無拿到資料");
          }
        })
        .catch(function (error) {
            console.log(error);
            //導回首頁
        });
    },
    bookPrev(){
       console.log("bookPrev");
       let minbooklength = 0;
       if(this.bookStartIndex>minbooklength){
          this.bookStartIndex = this.bookStartIndex-1;
          this.bookEndIndex = this.bookEndIndex-1 
       }
    },
    bookNext(){
       console.log("bookNext");
       let maxbooklength = this.cardsBook.length;
       console.log(maxbooklength);
       if(this.bookEndIndex<maxbooklength){
          this.bookStartIndex = this.bookStartIndex+1;
          this.bookEndIndex = this.bookEndIndex+1;
       }
    },
    bookShow(){
      let cardArray = this.cardsBook.slice(this.bookStartIndex,this.bookEndIndex)
      let statusCheck = false;
      return this.cardsBook.slice(this.bookStartIndex,this.bookEndIndex);

    },
    checkAll(){
      let vm = this;
      this.checkAllStatus[this.nowBook_id] = !this.checkAllStatus[this.nowBook_id];
      if(this.checkAllStatus[this.nowBook_id]){
            //全選
            vm.cards.forEach(function(item) {
                if(item.status==0){
                   vm.addItem(item);
                }
            });
      }else{
            //取消
            vm.cards.forEach(function(item) {
                if(item.status==0){
                   vm.removeItem(item);
                }
            });
      }
    },
    changeCardsBook(bookserial){
        let vm = this;
        this.nowBook_id = bookserial;    //目前顯示的本
        
        let url = this.$config.API_URL;
        //console.log(url+'/v1/periods/piece?bookserial='+cardBook_id);
        this.axios.get(url+'/v1/periods/piece?bookserial='+this.nowBook_id)
        .then(function (response) {
          if(response.status){
              console.log(response.data);
              //console.log(vm.cardsBook);
              vm.cards = response.data.data;

                var soldCheck = 1;
                for (let item of vm.cards) {
                    if(item.status==0){
                        break;
                    }
                    soldCheck++;
                }
                vm.currentGuidePage = Math.floor(soldCheck/10);
                console.log("vm.currentGuidePage");
                console.log(vm.currentGuidePage);
                vm.$refs.awesomeSwiperA.swiper.slideTo(vm.currentGuidePage, 2000, false);

          }else{
            console.log("無拿到資料");
          }
        })
        .catch(function (error) {
            console.log(error);
        });
    },
    addItem(obj){
       console.log("addItem");
       let vm = this;
       obj.card_group = this.nowBook_id;
       obj.used = 1;
       this.$store.commit('addShoppingCartItem', obj);
       obj.active = !obj.active;
       this.alreadyBuy=this.$store.getters.getShoppingCart;
    },
    removeItem(obj){
       console.log("removeItem");
       let vm = this;
       obj.card_group = this.nowBook;
       obj.used = 0;
       this.$store.commit('removeShoppingCartItem', obj.sn);
       obj.active = !obj.active;
       this.alreadyBuy=this.$store.getters.getShoppingCart;
    },
    confirmOrder(){
       this.alreadyBuy=this.$store.getters.getShoppingCart;
       console.log(this.alreadyBuy);

    },
    checkSelectedCards(sn){    //檢查已選取的卡片
        this.alreadyBuy = this.$store.getters.getShoppingCart;
        var checked = false;
        this.alreadyBuy.forEach(function(item,index) {
            if(item.sn==sn){
              //console.log(item.sn);
              checked = true;
            }
        });
        return checked;
    },
    showBuyGroupCount(book){
      this.alreadyBuy = this.$store.getters.getShoppingCart;
      var count = 0;
      this.alreadyBuy.forEach(function(item,index) {
          //console.log(item);
          if(item.card_group == book){
            count++
          }
      });
      return count;
    },
    showBuyCount(){
      this.alreadyBuy = this.$store.getters.getShoppingCart;
      var count = 0;
      this.alreadyBuy.forEach(function(item,index) {
            count++
      });
      return count;
    },
  }
};
</script>