<template>

    <div id="card_menu">
        <LobbyBalance></LobbyBalance>
        <CardMain></CardMain>
        <PannelMain></PannelMain> 
    </div>
</template>

<script>
import LobbyBalance from  "../components/Wallet/LobbyBalance.vue";
import CardMain from  "../components/Game/CardMain.vue";
import PannelMain from  "../components/Pannel/PannelMain.vue";


export default {
  components: {
    LobbyBalance,
    CardMain,
    PannelMain
  },
};
</script>