<template>
  <div>
        帳號: <input type="text" v-model="username" ></br>

        密碼: <input type="text" v-model="password"></br>

        <button  v-on:click="login">登入</button>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      username:"T33333",
      password:"123456",
    }
  },
  methods:{
    login(){
      let vm = this;
/*      let url = vm.$config.ULG168_API_URL;

      this.axios.post(url+'/v1/apis/ulg168/login', {
        username: this.username,
        password: this.password
      })
      .then(function (response) {
        //console.log(response.data.result);
        if(response.data.result=='1'){
          console.log(response.data);
          //this.$router.go(-2);
  */        //vm.$router.push({ path: 'Transfer', query: { token: response.data.token }});
            vm.$router.push({ path: 'Transfer', query: { token: 'jjwdqjeowq82812931221jlwjddpjdqje'}});
  /*      //this.$route.router.go('/GameLobby');
        }else{
          console.log('登入失敗');
        }

     })
      .catch(function (error) {
        //console.log(error);
      });
      */
     //let user = this.$store.getters.getUserData;

    }
  }
}
</script>

<style scoped>
</style>
