<template>
  <div>
    <!--Transfer-->
        <div class="popup_wrapper">
            <div class="popup_mask"></div>
            <div class="popup exchange">
                <div class="popup_label">
                    <span class="popup_header"></span>
                </div>
                <div class="popup_container">
                    <div class="row">
                        <div class="coin_block type_01">
                            <div class="coin_amount" @click="selectCoin(1,1)">{{ user_coin_quota.type1Amount }}</div>
                        </div>
                        <div class="coin_block type_03">
                            <div class="coin_amount" @click="selectCoin(3,1)">{{ user_coin_quota.type3Amount }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="coin_block type_04">
                            <div class="coin_amount" @click="selectCoin(4,1)">{{ user_coin_quota.type4Amount }}</div>
                        </div>
                        <div class="coin_block type_02">
                            <div class="coin_amount" @click="selectCoin(2,1)">{{ user_coin_quota.type2Amount }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <div class="select_item">
                                <img src="/images/common/popup_exchange_select_coin.png" alt="">

                                <div class="select_input">
                                    <p>{{ showCoinName }}</p>
                                    <span class="balance_border"></span>
                                </div>
                                <div class="drop_row scale-down" v-show="showSelect">
                                    <div class="drop_item" @click="selectCoin(1,2)">
                                        <div class="coin_icon type_01" ></div>
                                        <p>金幣</p>
                                    </div>
                                    <div class="drop_item" @click="selectCoin(2,2)">
                                        <div class="coin_icon type_02" ></div>
                                        <p>禮卷</p>
                                    </div>
                                    <div class="drop_item" @click="selectCoin(3,2)">
                                        <div class="coin_icon type_03" ></div>
                                        <p>娛樂幣</p>
                                    </div>
                                    <div class="drop_item" @click="selectCoin(4,2)">
                                        <div class="coin_icon type_04" ></div>
                                        <p>紅利</p>
                                    </div>
                                </div>
                                <span class="dropdown_icon" @click="showSelect = !showSelect"></span>
                            </div>
                            <div class="select_item">
                                <img src="/images/common/popup_exchange_point.png" alt="">

                                <div class="select_input">
                                    <p>{{ transferNumber | currency("", 0) }}</p>
                                    <span class="balance_border"></span>
                                </div>
                            </div>

                            <div class="select_item">
                                <img src="/images/common/popup_exchange_player_balance.png" alt="">
                                <div class="select_input balance">
                                    <p>{{ transferAmount | currency("", 0) }}</p>
                                    <span class="balance_border"></span>
                                    <span class="balance_icon"></span>
                                </div>
                            </div>
                        </div>
                        <!--Refresh暫時沒用到，但千萬別刪除 <div class="refresh">
                            <img src="/images/exchange_refresh.png" alt="">
                        </div> -->
                    </div>
                    <div class="popup_btn_wrapper">
                        <!--原本設計稿是有個返回，Corey拿掉了，因為流程是必須先轉帳才能進入大廳 <div class="popup_btn back" @click="closePopup"></div> -->
                        <div class="popup_btn check" @click="confirm()"></div>
                    </div>
                </div>
                <div class="popup_container">

                    <div class="keyboard">
                        <div class="row">
                            <div class="key_btn num_btn key_1" @click="calculator(1)"></div>
                            <div class="key_btn num_btn key_2" @click="calculator(2)"></div>
                            <div class="key_btn num_btn key_3" @click="calculator(3)"></div>
                        </div>
                        <div class="row">
                            <div class="key_btn num_btn key_4" @click="calculator(4)"></div>
                            <div class="key_btn num_btn key_5" @click="calculator(5)"></div>
                            <div class="key_btn num_btn key_6" @click="calculator(6)"></div>
                        </div>
                        <div class="row">
                            <div class="key_btn num_btn key_7" @click="calculator(7)"></div>
                            <div class="key_btn num_btn key_8" @click="calculator(8)"></div>
                            <div class="key_btn num_btn key_9" @click="calculator(9)"></div>
                        </div>
                        <div class="row">
                            <div class="key_btn num_btn key_0" @click="calculator(0)"></div>
                            <div class="key_btn back_btn" @click="calculatorBack"></div>
                        </div>
                        <div class="row">
                            <div class="key_btn clear_btn" @click="calculatorClear()"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      showSelect:false,
      showCoinName:"選擇幣種",
      selectedCoinID:0,
      transferNumber:0,
      transferAmount:0,
      user_coin_quota:{
        type1Amount:10000,
        type2Amount:220,
        type3Amount:340,
        type4Amount:120,
      },
      userBalance:0
    }
  },
  mounted() {
    let vm = this;
    this.$nextTick(function(){
        const axios = require('axios');
        let access_token = vm.$cookies.get("access_token");
        axios.defaults.headers.common = {'Authorization': "Bearer " + access_token}
        vm.auth();
    });
  },
  methods:{
    selectCoin(coinID,status){
      this.selectedCoinID = coinID;
      if(status==2){
      this.showSelect = !this.showSelect;
      }
      switch(coinID){
        case 1:
          this.showCoinName = '金幣';
        break;
        case 2:
          this.showCoinName = '禮券';
        break;
        case 3:
          this.showCoinName = '娛樂幣';
        break;
        case 4:
          this.showCoinName = '紅利';
        break;
      }
      this.transferNumber = 0;
      this.transferAmount = 0;
    },
    calculator(num){
      if(this.selectedCoinID>0){
        this.transferNumber = this.transferNumber +""+ num;
        this.amountTransfer();
      }
    },
    calculatorClear(){
      this.transferNumber = 0;
      this.transferAmount = 0;
    },
    calculatorBack() {
      let t = this.transferNumber.toString();
      let len = t.length;
      if ( len=== 1) {
        this.transferNumber = 0;
        this.transferAmount = 0;
        return;
      }
      t = t.substr(0, len - 1);
      this.transferNumber = parseInt(t, 10);
      this.amountTransfer();

    },
    amountTransfer(){
          let rate = 1;
          switch(this.selectedCoinID){
          case 1:
              if(this.transferNumber>=this.user_coin_quota.type1Amount){
                this.transferNumber = this.user_coin_quota.type1Amount;
              }
              rate = 1;
          break;
          case 2:
              if(this.transferNumber>=this.user_coin_quota.type2Amount){
                this.transferNumber = this.user_coin_quota.type2Amount;
              }
              rate = 0.5;
          break;
          case 3:
              if(this.transferNumber>=this.user_coin_quota.type3Amount){
                this.transferNumber = this.user_coin_quota.type3Amount;
              }
              rate = 1;
          break;
          case 4:
              if(this.transferNumber>=this.user_coin_quota.type4Amount){
                this.transferNumber = this.user_coin_quota.type4Amount;
              }
              rate = 0.5;
          break;
        }
        console.log(this.transferNumber);
        this.transferAmount = this.transferNumber*rate;
        console.log(this.transferAmount);
        if(this.isFloat(this.transferAmount)){
          this.transferAmount=0;
        }

    },
    auth(){
      let vm = this;
      let url = vm.$config.API_URL;
      let game_id = vm.$config.GAME_ID;
      let token = this.$route.query.token;;
      //this.axios.post(url+'/v1/u168/login/auth', {token: token, game_id: game_id})
      //.then(function (response) {
          //console.log(response.data.access_token);
        //  if(response.data.status){
          /*
            let userData = {
              'account_name':response.data.data.account_name,
              'game_token':response.data.data.game_token,
              'user_id':response.data.data.user_id,
              'user_name':response.data.data.user_name,
              'access_token':response.data.access_token
            };
           */
            let userData = {
              'account_name':'wilson',
              'game_token':'jdheqwiehoqweh12',
              'user_id':123456,
              'user_name':'wilson',
              'access_token':'weqefeqr12e34'
            };
            vm.$cookies.set("access_token",response.data.access_token);
            vm.$cookies.set("account_name",response.data.data.account_name);
            vm.$cookies.set("game_token",response.data.data.game_token);
            vm.$cookies.set("user_id",response.data.data.user_id);
            vm.$cookies.set("user_name",response.data.data.user_name);
            const axios = require('axios');
            axios.defaults.headers.common = {'Authorization': "Bearer " + response.data.access_token}


            //vm.user_coin_quota.type1Amount = response.data.data.user_coin_quota[0].amount;
            //vm.user_coin_quota.type2Amount = response.data.data.user_coin_quota[1].amount;
            //vm.user_coin_quota.type3Amount = response.data.data.user_coin_quota[2].amount;
            //vm.user_coin_quota.type4Amount = response.data.data.user_coin_quota[3].amount;
      
            vm.$store.commit('setUserData', userData);
            
            vm.getBalance();
            console.log(vm.$store.getters.getUserData);

          //}else{
          //  alert("儲值失敗");
          //}

      //})
      //.catch(function (error) {
      //});
    },
    confirm(){
      let vm = this;
      if(this.transferNumber>0){
        let coin_type = this.selectedCoinID;
        let coin_amount = this.transferNumber;
        let url = this.$config.API_URL;
        //this.axios.post(url+'/v1/u168/login/exchange', {coin_type: coin_type, coin_amount: coin_amount})
        //.then(function (response) {

          //  if(response.data.status){
          //    console.log(response.data);
              vm.$router.push({ path: 'Lobby' });
          //  }
        //})
        //.catch(function (error) {
        //});
      }
    },
    getBalance(){
        let vm = this;
        let url = this.$config.API_URL;
        this.axios.get(url+'/v1/u168/login/balace')
        .then(function (response) {
            //console.log("getBalance");
            //console.log(response.data.data.balance);
            vm.userBalance = response.data.data.balance;
            vm.$cookies.set("balance",response.data.data.balance);
        })
        .catch(function (error) {
        });
      
    },
    isInt(n){
        return Number(n) === n && n % 1 === 0;
    },
    isFloat(n){
        return Number(n) === n && n % 1 !== 0;
    }
  }
}
</script>